<html>
  <head>
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/htmx.org/dist/ext/ws.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}idle-time{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div hx-ext="ws" ws-connect="/ws"></div>
    <div id="stats">{% block stats %}{% endblock %}</div>
    <button hx-post="/click" hx-swap="none" type="button">Click!</button>
  </body>
</html>
